@charset "UTF-8";

/*estilos gerais, estando em pé deitado, ficara tudo igual */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #d6d6d6;
    /*Faz com que a imagem de fundo se adapte ao tamanho da tela*/
    background-repeat: no-repeat;

}

h1 {
    
    font-size: 2em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    padding: 10px;
}